<h1>Listing clubs</h1>

<table class="table table-bordered table striped">

  <thead>
    <tr>

      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Email</th>
    </tr>

  </thead>
  
	<tbody>
		<% @clubs.each do |club| %>

		<tr>
			<td><%= link_to club.name, club %></td>
			
	  		<td><%= club.category %></td>
			<td><%=h truncate(club.description, :length =>80) %></td>
			<td><%= club.email %></td>
			
		</tr>
		<% end %>
	</tbody>
</table>


<br>

<%= link_to 'New Club?', new_club_path %>
