<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Studentid:</strong>
  <%= @club.studentid %>
</p>

<p>
  <strong>Category:</strong>
  <%= @club.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @club.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @club.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @club.fb_id %>
</p>

<p>
<buttosttype="button" class="btn btn-danger">Subscribe</button>
</p>


<%= link_to 'Back', clubs_path %>
